streamlit==1.51.0
ultralytics==8.3.241
torch==2.9.1 --index-url https://download.pytorch.org/whl/cpu  # CPU-only версия для Streamlit Cloud
torchvision==0.24.1 --index-url https://download.pytorch.org/whl/cpu  # Зависимость torch
opencv-python==4.12.0.88
numpy==2.2.6
Pillow==12.0.0
pandas==2.3.3
matplotlib==3.10.7
seaborn==0.13.2
requests==2.32.5  
